<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.community.mapper.BoardMapper">
  <resultMap id="BoardResultMap" type="com.example.community.domain.Board">

  </resultMap>

  <select id="getAllBoards" resultMap="BoardResultMap">
    SELECT * FROM board;
  </select>

  <select id="getBoardById" resultMap="BoardResultMap" parameterType="Long">
    SELECT * FROM bpard WHERE id = #{id};
  </select>

  <insert id="insertBoard" parameterType="com.example.community.domain.Board">
    INSERT INTO board (title, content, user_id, topic_id)
    VALUES (#{title}, #{content}, #{userId}, #{topicId});
  </insert>

  <update id="updateBoard" parameterType="com.example.community.domain.Board">
    UPDATE board SET
    title = #{title},
    content = #{content},
    user_id = #{userId},
    topic_id = #{topicId}
    WHERE id = #{id};
  </update>

  <delete id="deleteBoard" parameterType="Long">
    DELETE FROM board WHERE id = #{id};
  </delete>

  <select id="getBoardsByTopicId" resultType="Board">
    SELECT * FROM board WHERE topic_id = #{topicId}
  </select>
</mapper>
